* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #37465B;
  background-attachment: fixed;
}

/*Agregado 29/09*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #5AFFE7;
}

/*5AFFE7 verde agua claro*/

header .conjunto {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-left: 5px;
}

header .conjunto .logo {
  text-decoration: none;
}

header .conjunto .logo img {
  width: 50px;
}

header .conjunto .titulo h1 {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
}

header .conjunto .titulo h1 a {
  padding-left: 10px;
  text-decoration: none;
  list-style: none;
  color: #000;
}

header .conjunto .titulo h1 a #title {
  font-family: 'Bebas Neue', cursive;
}

header .conjunto .titulo h1 a:visited {
  color: #000;
}

header .lista {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 10px;
  list-style: none;
  font-size: 20px;
}

header .lista .link {
  color: #000;
  text-decoration: none;
  display: flex;
  padding: 15px 13px;
}

/*REVEER ESTO PARA QUE NO SE DEFORME*/
img {
  width: 200px;
}

#main-dl {
  margin-left: auto;
  margin-right: auto;
  max-width: 72rem;
  /* equivalente a 1152px */
  padding-left: 1.5rem;
  /* 24px */
  padding-right: 1.5rem;
  /* 24px */
  padding-top: 4rem;
  /* 64px */
  padding-bottom: 6rem;
  /* 96px */
}

#descripcion {
  margin-top: 3rem;
  /* 48px */
  border-radius: 1.5rem;
  /* 24px */
  /*border: 1px solid rgba(244, 225, 225, 0.746);*/
  background-color: #726eff;
  padding: 1.5rem;
  /* 24px */
}

#descripcion-h2 {
  background-color: #726eff;
}

#descripcion-lista {
  list-style-type: none;
}

#modelos-h2 {
  margin-top: 3.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

#modelos-h2 {
  background-color: #08C6AB;
}

#modelos-cajas {
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  /*Hueco entre filas y columnas*/
  gap: 1rem;
  box-sizing: border-box;
}

#modelos-cajas>article {
  background-color: #08C6AB;
  /*border: 1px solid #e5e7eb;*/
  border-radius: 0.5rem;
  padding: 1rem;
}

/*
#modelos-caja,h3,p,span,em{
background: rgba(255, 255, 255, 0.02);
}*/

#areas {
  margin-top: 4rem;
  /* mt-16 */
  border-radius: 1.5rem;
  /* rounded-3xl */
  border: 1px solid rgba(255, 255, 255, 0.2);
  /* border-white/20 */
  background: rgba(255, 255, 255, 0.1);
  /* bg-white/10 */
  padding: 1.5rem;
  /* p-6 */
  backdrop-filter: blur(12px);
  /* backdrop-blur-md */
}

#areas-grid {
  margin-top: 1.5rem;
  /* mt-6 */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  /*display: flex;*/
  flex-direction: row;
  justify-content: flex-end;
  background: rgba(255, 255, 255, 0);
  /*Fondo tranparente*/
}

#VD-Grid {
  margin-top: 1.5rem;
  /* mt-6 */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  /*display: flex;*/
  flex-direction: row;
  justify-content: flex-end;
  background: rgba(255, 255, 255, 0);
  /*Fondo tranparente*/
}

#area-card {
  border-radius: 1rem;
  /* rounded-2xl */
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(0, 0, 0, 0.2);
  padding: 1.25rem;
  /* p-5 */
}